body {
  font-family: Open Sans, sans-serif;
  color: white;
}

a {
  color: inherit;
  text-decoration: none;
}

#screen {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  align-content: flex-start;

  width: 750px;
  height: 1334px;
  border: 1px solid black;
  background-color: black;

  font-size: 2em;
}

#header {
  height: 183px;
  width: 97%;
  padding-left: 3%;
  background-image: url("../assets/enterpurchase.jpg");
  border-bottom: 13px solid black;
  margin-bottom: 3%;
  
  font-size: 2em;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: flex-start;
}

#main {
  padding: 3%;
  width: 100%;
  height: 100%;

  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: inherit;
  align-content: inherit;
}

#desc {
  width: 100%;
  margin-bottom: 6%;
}

#vendor {
  width: 60%;
}

#date {
  width: 30%;
  text-align: right; 
}

#price {
  margin-top: 6%;
}

.right {
  float: right;
}
