body {
  font-family: Open Sans, sans-serif;
  color: white;
}

a {
  color: inherit;
  text-decoration: none;
}

#screen {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 750px;
  height: 1334px;
  border: 1px solid black;
  background-color: black;
}

#header {
  height: 183px;
  width: 97%;
  padding-left: 3%;
  background-image: url("../assets/purchases.jpg");
  border-bottom: 13px solid black;
  
  font-size: 3em;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.header, .item {
  width: 97%;
  padding-left: 3%;
  height: 97px;
  background-color: green;

  font-size: 2em;
  border-top: 3px solid #595959;

  display: flex;
  align-items: center;
}

.header:hover, .item:hover {
  opacity: 0.6;
}

.header {
  font-weight: bold;
  background-color: #4A4A4A;
}

.item {
  background-color: black;
  font-size: 1.7em;
}
